<div class="row m-3">
  <div class="col">
    <div id="red-text-shadow" class="my-5">
      <% if @query %>
        <h1>You searched for <span style="color:#CF0021;"><strong><%= @query %></strong></span> . <br>We found <span style="color:#CF0021;"><strong> <%= @movies.count == 1 ? "1 movie" : "#{@movies.count} movies" %></strong></span> out of <%= Movie.count %> from our database.</h1>
      <% else %>
        <h1>All <%= Movie.count %> movies</h1>
      <% end %>
    </div>
  </div>
</div>

<%= render "movies-only-cards" %>





